[submodule "extern/AFNetworking.git"]
	path = extern/AFNetworking.git
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "extern/JSONKit"]
	path = extern/JSONKit
	url = git://github.com/johnezang/JSONKit.git
